<?xml version="1.0" encoding="utf-8"?>
<!--
GlowNotifier Application for Android
Copyright (C) 2013 Youngbin Han<sukso96100@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hybdms.glownotifier"
    android:versionCode="5"
    android:versionName="0.20-beta5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Gray" >
        <activity
            android:name="com.hybdms.glownotifier.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Appinfo"
            android:label="@string/appinfo"
            android:parentActivityName="com.hybdms.glownotifier.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.MainActivity" />
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Doc_Readme"
            android:label="@string/appinfo"
            android:parentActivityName="com.hybdms.glownotifier.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.Appinfo" />
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Doc_Contributors"
            android:label="@string/appinfo"
            android:parentActivityName="com.hybdms.glownotifier.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.Appinfo" />
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Doc_Notices"
            android:label="@string/appinfo"
            android:parentActivityName="com.hybdms.glownotifier.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.Appinfo" />
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Doc_Copying"
            android:label="@string/appinfo"
            android:parentActivityName="com.hybdms.glownotifier.Appinfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.Appinfo" />
        </activity>

        <service
            android:name="com.hybdms.glownotifier.SysNotiDetectService"
            android:canRetrieveWindowContent="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/sysnotidetectservice_config" />
        </service>
        <service android:name="com.hybdms.glownotifier.GlowOverlay" >
        </service>

        <activity
            android:name="com.hybdms.glownotifier.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.Gray.NoActionBar" >
        </activity>

        <service
            android:name="com.hybdms.glownotifier.SysNotificationListenerService"
            android:label="@string/sysnotilistenerservice"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hybdms.glownotifier.Blacklist"
            android:label="@string/title_activity_blacklist"
            android:parentActivityName="com.hybdms.glownotifier.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.MainActivity" />
        </activity>
        <activity
            android:name="com.hybdms.glownotifier.Blacklist_Addnew"
            android:label="@string/title_activity_blacklist__addnew"
            android:parentActivityName="com.hybdms.glownotifier.Blacklist" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hybdms.glownotifier.Blacklist" />
        </activity>
    </application>

</manifest>
